* {
    font-family: 'Barlow';
}

.tabcontenttext {
	display: none;
}
.tabcontenttext {
    position: absolute;
    width: 300px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background-color: #06F;
    color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    top: 968px;
}
.bbest-wrapper-simulador {
    max-width: 1200px;
    min-height: 690px;
    margin: 100px 20px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: -2px 4px 15px 0px #909090;
}
.tab {
   /* overflow: hidden;
    background-color: white; */
    text-align: center;
    display: flex;
    width: 50%;
    height: 160px;
    padding: 30px;
    top: 90px;
    position: relative;
}
.tab > div {
    cursor: pointer;
    padding: 14px 16px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tab > div h4{
    margin: 0;
    padding: 0;
}
.tab > div p{
    margin: 0;
    padding: 0;
}
.tab > div:hover {
    background-color: #ddd;
}
.tab > div.active {
    background-color: #0066FF;

}
.tab > div.active h4, .tab > div.active p {
    color: white;
}
.header-best img {
    position: absolute;
    left: 4%;
    right: 0%;
    top: 2%;
}
.header-best h2 {
    margin-left: 267px;
    margin-top: 40px;
    position: absolute;
    color:#000099;
    font-size: 32px;
    font-weight: 600;
}
.tablinks h4 {
    font-size: 18px;
    color: #000099;
    font-weight: 700;
}
.tablinks p {
    font-size: 14px;
    font-weight: 500;
    color: #0066FF;

}
.subtext-range {
    color: #0066FF;
    font-size: 14px;
}
.selector-tapvitoria {
    color: #000099;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
    position: relative;
    top: 40px;
}
.selector-premiacao {
    padding: 0 15px;
    color: #000099;
font-size: 16px;
font-weight: 500;
}
.bb-btn-switch .novo_cliente_toggle, .bb-btn-switch .envolvimento_toggle {
    color: #0066FF;
}
#tabSimuladorTAPVitoria {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 421px;
}
#tabSimuladorPremiacao {
    display: flex;
    
    width: 100%;
    height: 421px;

}
#tabSimuladorTAPVitoria > div, #tabSimuladorPremiacao > div {
    flex: 1 50%;
}
.results-tapvitoria, .results-premiacao {
    text-align: right;
    padding: 48px 80px;
}
.results-tapvitoria .modal-content .modal-body > div {
    padding-top: 10px;

}
.results-tapvitoria > h1 {
    text-align: left;
}
.results-tapvitoria  {
    padding-top: 45px;
    position: relative;
    top: -215px;
    min-height: 690px;
    background-color: #0066FF!important;
    border-top-right-radius: 20px;
    color: white;
}
.results-premiacao {
    padding-top: 45px;
    position: relative;
    top: -215px;
    min-height: 690px;
    background-color: #0066FF!important;
    border-top-right-radius: 20px;
    color: white;
} 
.results-premiacao .sub-two > p, .results-premiacao .sub-three > p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.results-premiacao .two p, .results-premiacao .three p {
    margin-top: 10px;
}
.sub-two .sub-two-value, .sub-three .sub-three-value {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}
.sub-two p , .sub-three p {
    text-align: left;
}
.bb-text-gray-300, .bb-text-blue-300 {
    color: white!important;
}

.selector-premiacao {
    margin-top: 50px;
}

#tabs-2 {
    width: 50%;
   
    height: 120px;

}
.one {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-bottom: 10px;
}
.one > button {
    background-color: #06f;
    border: none;
    color: white;
}
.one-table, .one-table-cashback, .two-table-cashback, .three-table-cashback {
    display: flex;
    justify-content: space-between;
}
.two-table-cashback p, .three-table-cashback p, .sub-two-title, .sub-three-title{
    font-size: 14px;
    color:#FFFFFF;
    opacity: 0.7;
}
.one-table-cashback > .bb-data-cashback--total--text.val3a {
    font-size:32px;
    font-weight: 600;
}
.bb-data-cashback--text.val2b, .bb-data-cashback--text.val2c {
    font-size: 24px;
    font-weight: 700;
}
.one-table-number {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    gap:5px;
}
.one-table-number p {
    margin-bottom: 0;
}
.two, .three{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

button > .fa {
    margin-left: 10px;
}
.btn-calc {
    display: flex;
    align-items: baseline;
    margin-left: auto;
}
.descriptivo-calculo p {
    margin-bottom: 7px;
}
.descriptivo-calculo-table {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    font-weight: bold;
}
.descriptivo-calculo-title {
    font-size: 14px;
    opacity: 0.7;
}
.descriptivo-calculo-header {
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid white;
    width: max-content;
    margin: 0 0 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.descriptivo-calculo-header h5{
    font-size: 14px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-color: none!important;
}
.bb-nav-tabs .nav-item.tri-down {
    border-bottom: none;
}
.nav-item.active.tri-down.opened {
    background-color: #0066FF!important;
}
.nav-tabs {
    border-bottom: none!important;
}
.btn.btn-default.btn-on.novo_cliente_toggle.active {
    border-radius: 50px!important;
    background-color: #0066FF!important;
    color: white!important;
    border: none!important;
}
.btn.btn-default.btn-off.novo_cliente_toggle.active {
    border-radius: 50px!important;
    background-color: #0066FF!important;
    color: white!important;
    border: none!important;
}
.btn.btn-default.btn-on.active.envolvimento_toggle {
    border-radius: 50px!important;
    background-color: #0066FF!important;
    color: white!important;
    border: none!important;
}
.btn.btn-default.btn-off.envolvimento_toggle.active {
    border-radius: 50px!important;
    background-color: #0066FF!important;
    color: white!important;
    border: none!important;
}
.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: 0px !important;
}
.rangeslider__handle {
    background-color: white!important;

}
.rangeslider__fill {
    background-color: #0066FF!important;
}
.rangeslider__handle:after {
	content: none!important;
	display: block;
	line-height: 25px;
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 26px;
	text-align: center;
}
.rangeslider {
    background-color: #DFEAF2!important;
    border-radius: 50px;
}
.rangeslider__fill {
    border-radius: 50px;
}
#tvQuadro td {
    color: white!important;
}
#tvQuadro {
    color: white!important;
}
.box-wrapper {
    border-radius: 20px!important;
}
.description-calculo {
    display: block;
}
.added  {
    display: none;
}
.addedNew {
    display: none;
}
.btn-contacts-tapvitoria, .btn-contacts-premiacao {
    display: flex;
    flex-direction: column;
}
.btn-contacts-tapvitoria > button {
    background-color: white;
    border-radius: 33px;
    color: #000099;
    padding: 10px 50px;
    align-self: center;
    margin-top: 20px;   
}
.btn-contacts-premiacao > button {
    background-color: white;
    border-radius: 33px;
    color: #000099;
    padding: 10px 50px;
    align-self: center;
    margin-top: 20px; 
}
.openicon {
    display: none;
}
.closeicon {
    display: none;
}
.btn-contacts-premiacao a {
    color: white;
}
.btn-contacts-tapvitoria a, .btn-contacts-premiacao a {
    text-decoration: underline;
    color: white;
    align-self: center;
    margin-top: 10px;
}
.btn-contacts-tapvitoria a:hover {
    color: white;
}
.modal-content {
    max-width: 440px;
}
.modal-body h1{
    text-align: left;
}
.modal-content {
    background-color: #0066FF!important;
}
.modal-header {
    border-bottom: none!important;
}
.modal-header button {
    color: white!important;
}
@media screen and  (max-width: 1277px) {
    
 
}
@media screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 100%!important;
        width: 100%!important;
    }
}
@media screen and (max-width: 970px) {

    .modal {
        width: auto!important;
        height: auto!important;
    }
    
    .wrapper {
        flex-direction: column;
   
    }
    .tab {
        width: 100%;
        top: 15px;
    }
    .header-best {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header-best h2 {
        margin-top: 125px;
        margin-left: 0!important;
        position: relative;
    }
    .header-best img {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        margin-left: auto;
        margin-right: auto;
    }
   
   
    #tabSimuladorTAPVitoria, #tabSimuladorPremiacao {
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .selector-tapvitoria {
        top: 0;
    }
    .selector-tapvitoria, .selector-premiacao {
        height: auto;
        margin-top: 0px;
    }
    .results-tapvitoria, .results-premiacao {
        min-height: none!important;
    }
    .results-tapvitoria, .results-premiacao {
        border-radius: 20px;
        position: absolute;
        left: 0;
        right: 0;
        top: 1030px;
        margin: 24px;
        padding-top:0px;
        height: 566px;
        padding: 0px 0px;
        height: auto;
        
    }
    .modal-content {
       
        background-clip:none!important;
        border:none!important;
        border-radius: none!important;
        outline: none!important;
        box-shadow: none!important;
    
    }
    
    .close {
        opacity: 1;
    }

    .close span {
        font-size: 50px;
    }
    .modal-header {
        height: 20px;
    }
}
@media screen and (min-width: 969px) {
    .results-tapvitoria {
        display: block!important;
    }
    .fade:not(.show){
        opacity: 1!important;
    }
    .modal-content {
        box-shadow: none!important;
        border: none!important;
    }
    .modal-header {
        display: none!important;
        
    }
    .tabcontenttext {
        display: none!important;
    }
}